<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Book List</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address Line</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
    </tr>
    <tr th:each="publisher : ${publishers}">
        <td th:text="${publisher.id}">121</td>
        <td th:text="${publisher.name}">Something</td>
        <td th:text="${publisher.addressLine}">Something</td>
        <td th:text="${publisher.city}">Something</td>
        <td th:text="${publisher.state}">Something</td>
        <td th:text="${publisher.zip}">Something</td>
    </tr>
</table>
</body>
</html>